name: CI

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Docker container
      run: ./build_container.sh
    
    - name: Compile all projects
      run: ./flash_docker.sh ALL